.container {
  background-image: url("header.png");
  background-position: center;
  background-repeat: no-repeat;
/*  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;*/
  width: 100%;
  height: auto;
}
